/* Google Fonts link */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/* universal rule for font and for margin, padding and box-sizing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nanum Myeongjo';
}

#main-bg{
    width: 85%;
    margin-left: 7.5%;
    margin-top: 15%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
}

#info-icon{
    height: 14vw;
}

