/* Google Fonts link */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/* universal rule for font and for margin, padding and box-sizing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body rule set in order to apply the font to every element */

body{
    font-family: 'Nanum Myeongjo';
}

/* background style and layout */

#main-bg{
    width: 85%;
    margin-left: 7.5%;
    margin-top: 15%;
    position: fixed;
    opacity: 0.5;
    z-index: -1;
}

/* style of the header section */

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
}

#header-title{
    font-size: 8vw;
}

#info-icon{
    height: 14vw;
    margin-top: 8vw;
    margin-bottom: 4vw;
}

/* style of the main section */

/* style of the materials section */

input{
    height: 3vw;
}

input[type=number]{
    width: 8vw;
    height: 6vw;
}

label{
    font-weight: bold;
    font-size: 5vw;
}

#materials{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-transform: uppercase;
    font-size: 6vw;
    margin-bottom: 8vw;
}

#checkboxes-container{
    display: flex;
    flex-direction: row;
    gap: 12vw;
    margin-bottom: 9vw;
}

.checkboxes-quantity{
    display: flex;
    gap: 2vw;
    margin-bottom: 9vw;
}

.materials-explained p{
    padding: 1em;
    text-align: right;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

span{
    padding: 0.5em;
    margin-left: 4%;
    background-color: rgba(200, 200, 200, 0.7);
    border: 2px solid firebrick;
    border-radius: 6px;
    font-size: larger;
}

span:hover{
    box-shadow: 2px 2px 3px black;
}

/* style of brick type section */

#brick-type{
    display: none;
    flex-direction: column;
    align-items: center;
}

#brick-type-container{
    display: flex;
    flex-direction: row;
    gap: 8vw;
    margin-bottom: 9vw;
    margin-left: 8vw;
}

/* style hours of work section */

#hours-of-work{
    display: none;
    flex-direction: column;
    align-items: center;
}

#hours-of-work p{
    padding: 1em;
    margin-top: 2vw;
    text-align: center;
    font-weight: 600;
}

/* style total cost section */

#total-cost{
    display: none;
    flex-direction: column;
    align-items: center;
}

#total-cost h3{
    text-transform: uppercase;
    font-size: x-large;
}

#total-cost p{
    padding: 1em;
}
/* style final list section */

#final-list{
    display: none;
    flex-direction: column;
    align-items: center;
}

#final-list h4{
    text-transform: capitalize;
    font-size: larger;
}

/* responsiveness for tablet */

/* materials section */

@media screen and (min-width: 425px) {
    input[type=number]{
        width: 5vw;
        height: 3vw;
    }
}

/* responsiveness for laptop */

/* materials section */

@media screen and (min-width:768px) {
    input[type=number]{
        width: 3vw;
        height: 2vw;
    }

    label{
        font-size: 3vw;
    }
}
